---
---

@import "minima";

h1, h2, h3, h4, h5, body {
  background-color: #effaff;
  font: "avenir";
};

button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
};

button:hover {
  font-weight: bold;
};

img {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  width: 150px;
};

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

family-card {box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)};
w3-container {padding:0.01em 16px};
w3-container:after, w3-container:before {content:"";display:table;clear:both};

w3-center {
  display:inline-block;
  width:auto;
  text-align:center;
};

.container {
  position: relative;
  width: 50%;
};

.image {
  display: block;
  width: 100%;
  height: auto;
};

.overlay {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #effaff;
};

.container:hover .overlay {
  opacity: 1;
};

.text {
  color: black;
  font-size: 4px;
  position: relative;
  text-align: center;
};

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
